<h1>You are welcome!</h1>
<p>Milosty prosim</p>
<form action="/visit" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Ваше имя</label>
    <input name="username" type="text" class="form-control" id="exampleInputEmail1" placeholder="Введите ваше имя">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Ваше телефон</label>
    <input name="userphone" type="text" class="form-control" id="exampleInputEmail1" placeholder="Введите ваш телефон">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Когда вас ждать?</label>
    <input name="usertime" type="text" class="form-control" id="exampleInputEmail1" placeholder="Когда вас ждать?">
  </div>
  <button type="submit" class="btn btn-primary">Записаться</button>
</form>
